[include]
  path = ~/.dotfiles/.gitconfig.local # secrets, trusted repos
[core]
  editor = code --wait --new-window
  excludesfile = ~/.dotfiles/.gitignore.global
  quotepath = false
[diff]
  tool = vscode
[difftool]
  prompt = false
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[merge]
  tool = vscode
[mergetool]
  prompt = false
[mergetool "vscode"]
  cmd = code --wait $MERGED
[user]
  name = Hannah Chartier
  email = hannah@sent.com
  signingkey = 9B8651B4600C319DE248955F7F82CE3E62EEFED0
[gpg]
  program = /usr/bin/gpg
[commit]
  gpgsign = true
[init]
  defaultBranch = main
[credential "https://github.com"]
  helper = !/usr/bin/gh auth git-credential
[credential "https://gitlab.com"]
	helper = !/home/linuxbrew/.linuxbrew/Cellar/glab/1.55.0/bin/glab auth git-credential
